*{
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgba(243, 245, 129, 0.86);
}
h1 {
    text-align: center;
}
#main-container{
    width: 500px;
    margin: 30px auto;
    padding: 0;
}
#flag-container{
    height: 250px;
    background-color: white;
    border: 1px solid  #333;
}
#flag-container img{
    display: block;
    width: 100%;
    height: 100%;
}
#info-container select{
    display: block;
    margin: 20px auto;
    min-width: 100%;
    padding: 5px;
    color: #333;
    font-weight: 900;
    text-align-last: center;
}
#info-container p {
    padding: 0 10px;
    font-weight: 600;
}
#info-container span{
    font-weight: normal;
}
@media (max-width: 768px) {
    body{font-size: 12px}
    #main-container{width: 340px}
    #flag-container{height: 170px}
    #info-container select{font-size: 12px; font-weight: 600;}
}